html, body {
    max-width: 100%;
    overflow-x: hidden;
}


#a1{
	/*background: url(images/sea.jpg);*/
	/*background: url("images/profilepic.jpg");*/
	object-fit:contain;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding-top: 50px;
	/*width: 100%;
	padding: 0;
	margin: 0;*/
}
#a1 p{

	margin:0;
	padding:0;
	font-family: 'Macondo';
	text-align: center;
 }

.content{

	background: rgba(0, 0, 0, 0.7);
	color:white;
	height: 600px;
	width:600px;
	font-size:20px;
	top: 100px;
	margin:auto;
	padding:15px;
	position: relative;

}
h1{
	text-align:center;
}
.profilepic{
	border-radius:70%;
	margin-left:180px;
	margin-top: 100px;
	height:200px;
	width:200px;

}

.heading{
	margin: 0;
	padding:0;
	line-height: 280px;
	color: white;
	text-align: center;
	font-family: 'Indie Flower';
	font-size: 70px;
	position: relative;
}


#a2{
	/*background: url(images/sea.jpg);*/
	/*background: url("images/profilepic.jpg");*/
	object-fit:contain;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding-top: 50px;
	/*width: 100%;
	padding: 0;
	margin: 0;*/
}
ul.a{
	list-style-type: circle;
	color:white;
	margin-left: 300px;
	font-family: 'Indie Flower';
	font-size: 20px;


}
.Name{

	color:white;
	font-family: 'Indie Flower';
	font-size: 30px;
	/*font-weight: bold;*/
	/*letter-spacing: 1.5px;*/
	margin-top: -70px;
	margin-left: 250px;


}

.Name1{
	font-family: 'Indie Flower';
	font-size: 20px;
	color:white;
	font-size: 30px;
	/*font-weight: bold;*/
	/*letter-spacing: 1.5px;*/
	margin-top: 30px;
	margin-left: 250px;


}
.content2{

	background: rgba(0, 0, 0, 0);
	/*color:white;*/
	height: 800px;
	width:100%;
	/*font-size:20px;*/
	/*top: 100px;*/
	margin:auto;
	padding:15px;
	position: relative;

}

.title1{
	margin: 0;
	padding:0;
	line-height: 80px;
	color: white;
	text-align: center;
	/*font-family: 'Indie Flower';*/
	font-size: 30px;
	position: relative;
}


.change{
	color:#AA00FF;

}
.green_c{
	color:green;
}
.blue_c{
	color:blue;
}
.white_c
{
	color: white;
}
.orange_c
{
	color: orange;
}
.red_c
{
	color: red;
}
.content3{

	/*background: rgba(0, 0, 0, 0.7);*/
	/*color:white;*/
	height: 1000px;
	width:1400px;
	font-size:20px;
	/*top: 100px;*/
	margin:auto;
	padding:15px;
	font-family: 'Lora', serif;

	position: relative;

}
ul.list_of_operations{
	/*list-style-type: circle;*/
	list-style-type:inherit;
	color:white;
	margin-left: 150px;
	font-family: 'Inconsolata', monospace;
	text-shadow: none;
	font-size: 18px;


}
.marginchange{
	margin-top: -10px;
	margin-left: 200px;
}
.effects_more{
	font-size: 23px;
	/*text-decoration: underline;*/
	/*text-shadow: 2px 2px 2px white;*/
}
/*#work{
	color:red;
}*/

/*@media only screen and (max-width: 600px) {
.heading{
	color: red;
	font-size: 45px;
}

#a1{
	object-fit:contain;
	/*background-repeat: no-repeat;*/
	/*background-size: cover;
	height: inherit;

}

#a1 p{
	font-size: 50%;
}
.content{
	width: 50%;
}
.profilepic{
	/*height: auto;*/
	/*margin-left: 5px;
	width: 100%;
}*/
/*#a2{
	object-fit:contain;
	/*background-repeat: no-repeat;*/
	/*background-size: cover;
	height: inherit;

}*/

/*}*/


#a4{
	/*background: url(images/sea.jpg);*/
	/*background: url("images/profilepic.jpg");*/
	object-fit:contain;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding-top: 50px;
	/*width: 100%;
	padding: 0;
	margin: 0;*/
}

.format{
	background: rgba(255,255,255, 0.5);
	margin-left: 150px;
	margin-right: 120px;
	margin-bottom: 10px;
	padding: 10px;
}

img.logo{
	float :left;
	/*margin-left: 180px;*/
	/*width: 0px;*/
	border-radius: 70%;
  height: 40px;
	width: 40px;
}

.organise{
	margin-right: 150px;;
}

.organise p{
	margin-left: 60px;
	font-family: 'Bitter', serif;
}

.format h1{
	font-family: 'Spirax', cursive;
	font-size: 45px;
	/*color: #AA00FF;*/
}
