#a1{
	/*background: url(images/sea.jpg);*/
	/*background: url("images/profilepic.jpg");*/
	object-fit:contain;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding-top: 50px;
	/*width: 100%;
	padding: 0;
	margin: 0;*/
}
#a1 p{

	margin:0;
	padding:0;
	font-family: 'Macondo';
	text-align: center;
 }

.content{

	background: rgba(0, 0, 0, 0.7);
	color:white;
	height: 600px;
	width:600px;
	font-size:20px;
	top: 100px;
	margin:auto;
	padding:15px;
	position: relative;

}
h1{
	text-align:center;
}
.profilepic{
	border-radius:70%;
	margin-left:180px;
	margin-top: 100px;
	height:200px;
	width:200px;

}

.heading{
	margin: 0;
	padding:0;
	line-height: 280px;
	color: white;
	text-align: center;
	font-family: 'Indie Flower';
	font-size: 70px;
	position: relative;
}


#a2{
	/*background: url(images/sea.jpg);*/
	/*background: url("images/profilepic.jpg");*/
	object-fit:contain;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding-top: 50px;
	/*width: 100%;
	padding: 0;
	margin: 0;*/
}
ul.a{
	list-style-type: circle;
	color:white;
	margin-left: 300px;
	font-family: 'Indie Flower';
	font-size: 20px;


}
.Name{

	color:white;
	font-family: 'Indie Flower';
	font-size: 30px;
	/*font-weight: bold;*/
	/*letter-spacing: 1.5px;*/
	margin-top: -70px;
	margin-left: 250px;


}

.Name1{
	font-family: 'Indie Flower';
	font-size: 20px;
	color:white;
	font-size: 30px;
	/*font-weight: bold;*/
	/*letter-spacing: 1.5px;*/
	margin-top: 30px;
	margin-left: 250px;


}
.content2{

	/*background: rgba(0, 0, 0, 0.7);*/
	/*color:white;*/
	height: 800px;
	width:1400px;
	/*font-size:20px;*/
	/*top: 100px;*/
	margin:auto;
	padding:15px;
	position: relative;

}

/*#work{
	color:red;
}*/
